body {
    color: #000000;
}

header {
    padding-top: 60px;
}

.invoice {
    padding: 30px 60px 0 0;
}

.contact p {
    height: 10px;
}

.table thead th{
    background-color: #7abaff;
    vertical-align: bottom;
    border-bottom: 1px solid black;
    align-content: center;
    text-align: center
}

@media print {
    .table thead th{
        -webkit-print-color-adjust: exact;
        background-color: #7abaff !important;
    }
    .table tfoot tr td{
        -webkit-print-color-adjust: exact;
        background-color: #7abaff !important;
    }
}


.table-bordered {
    border: 1px solid black;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black;
}

.table td {
    vertical-align: middle;
}

.product-name {
    color: red;
}

.author-name {
    width: 100%;
    border-top: 1px solid;
    text-align: center;
}

.signature {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 176px;
    justify-content: space-between;
}

.colspan {
    border: none;
    background-color: #b4c6e7;
}

.product-img {
    max-width: 80px;
}

.logo {
    max-width: 125px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 3px solid #b4c6e7;
}


.approval {
    padding-bottom: 60px;
    padding-top: 30px;
}

ol ul {
    list-style: inside;
}